<h1><%= @pagetitle %></h1>
<% @groups.each do |separator, albums| %>
  <%= "<h2>#{separator}</h2>" if @groups.length > 1 %>
  <ul>
  <% albums.each do |category, album| %>
      <li><%= "#{category} - " if category %><%= link_to(album.fullname, "/album/#{album.id}") %></li>
  <% end %>
  </ul>
<% end %>
