<% @pagetitle = 'Feedback from Others Who Have Ordered From Falcom' %>

<p>Here is some feedback I have received from others who have ordered from Falcom.  If you want to add your feedback here, please <%= mail_to_maintainer('email me') %>.</p>

<p>&quot;I've placed four orders, I've had small problems on two. My first order was FMS1 (2 sets) and the MIDI Collection set. I got everything, except instead of Legend of Heroes IV MIDI Collection, I got a second copy of Legend of Heroes MIDI Collection. I think they ran out, since the album wasn't available for ordering after that. I ordered Ys II Eternal for a friend, and that came fine. I ordered FMS2&amp;3 and those both came fine. Most recently, they sent me the wrong tracking number for the package, which had me thinking some nice Korean chap was getting my Falcom music. However, I did get everything I expected.&quot;
<br />
-Quasi</p>

<p>&quot;I placed the order for Ys I &amp; II Perfect Collection: Complete Works of Ryo Yunemitsu on February 12th. The night of the 13th, I received the first E-mail you described (Down to the word, leading me to believe it's a form letter). The next night, the 14th, came an E-mail saying they had shipped my order (I never received the second e-mail you describe, which I found somewhat odd). Due to Monday being President's Day and a school closing yesterday (Tuesday), I didn't receive the package until earlier today (Which is still amazingly fast, considering it came from Japan). The package arrived in fine shape (And had been well-packaged; the CD was put into bubble wrap, around which a sheet of larger bubble wrap was wrapped. All in all, they were a pleasure to deal with.&quot;
<br />
-Marc Dziezynski</p>

<p>&quot;I've ordered from Falcom five times now (everything from games and CDs to books and trading cards), and nary a single problem to speak of. It might take them a while to confirm and/or ship your order, but they're always polite and let you know what's going on with your order. I've always followed the ordering guidelines that Kuno had originally posted up, and they seem to work well.&quot;
<br />
-Crash on Soundtrack Central</p>

<p>&quot;So far, I've placed two orders with them. One was in Oct. 2001 and the other was Oct. 2002. Both were for orders of five CD's each. No problems whatsoever-Fast confirmation/delivery and great packaging. I do wish they had a secure ordering system, but sending a credit card # through email isn't as bad as some people make it out to be.&quot;
<br />
-GoldfishX on Soundtrack Central</p>

<p>&quot;I have ordered games a few times in the past few years and Game Music CDs once. This was in January 2003. Everything went smooth. Falcom was exceptionally curtious and very easy to work with. They took my order and responded back in less than 24 hours. My order shipped and arrived in perfect condition about 5 days later. Falcom is a wonderful company to deal with. They have great products and very reliable service. Thanks goes out to Quasi for helping me with my order.
<br />
Thanks!!&quot;
<br />
-JT on Soundtrack Central</p>

<p>&quot;I ordered the entire Millennium Series about a year ago. I was very pleased with my service. The emails were prompt and I had a very big box of cds within I'd say a week. All the cds were packed very well. The only complaint I had was the charge didnt hit my credit card for like 2 months. Other than that it was a fine experience and will definately order again.&quot;
<br />
-Naka on Soundtrack Central</p>

<p>&quot;Two orders and no problems...except the other parcel got stuck at the customs and I had to pay taxes for it (&gt;_&lt;) Both orders were almost ten cds each. Packaging was good and their replies polite although sometimes you have to think hard what they're saying since their English isn't the most perfect. Worse than mine anyway (^_^) Nothing to worry about. The credit card system could be better, but the chances that someone steals the info are pretty much zero. And some hacker could do it even if you never use your credit card...&quot;
<br />
-Jousto on Soundtrack Central</p>
