<% @pagetitle = @game.name %> <%== link_to("(Edit)", "/Game/edit/#{@game.id}") if admin?  %>

<% if @game.albums.length > 0 %>
  <h2>Albums</h2>
  <ul>
  <% @game.albums.each do |album| %>
      <li><%== link_to(h(album.fullname), "/album/#{album.id}") %></li>
  <% end %>
  </ul>
<% end %>

<% if @game.songs.length > 0 %>
  <h2>Songs</h2>
  <ul>
  <% @game.songs.each do |song| %>
      <li><%== song_link(song) %></li>
  <% end %>
  </ul>
<% end %>
