<p id="logofalcom"><a href="http://www.falcom.co.jp/"><img src="/images/logo_falcom.gif" alt="Falcom Logo" title="Falcom Logo" /></a></p>

<h1 class="sitetitle">Falcom CD Catalog - English Edition</h1>

<p>The purpose of this website is to provide English tracklist translations for all Falcom albums and redbook game soundtracks.  This website aims to be an English version of <a href="http://www.falcom.co.jp/cd/index.html">Falcom's CD Catalog</a>, although there are some differences as noted below.</p>

<p>There are some differences between Falcom's CD Catalog and this one.  The album information is stored in a database which is browseable by multiple criteria. Each album is given its own page, unlike the frameset with multiple albums per page used by Falcom.  In addition, some spelling errors and track omitions in Falcom's catalog are corrected here.  This catalog also features some promotional albums and redbook game soundtracks that are not in Falcom's catalog.  Additionally, this catalog also features albums no longer listed on Falcom's catalog.</p>

<p>Digital releases of Falcom music are available at <a href="http://www.amazon.com/s/ref=sr_st?lo=digital-music-album&keywords=Falcom+Sound+Team+jdk&qid=1384913716&rh=n%3A163856011%2Ck%3AFalcom+Sound+Team+jdk%2Cp_n_feature_browse-bin%3A625150011&sort=-releasedate">Amazon</a> and <a href="https://itunes.apple.com/us/artist/falcom-sound-team-jdk/id120174391">iTunes</a>.  Older physical releases may still be available at <a href="http://www.cdjapan.co.jp">CD Japan</a> or another importer, but many of them are impossible to find except on <a href="http://auctions.yahoo.co.jp">Yahoo! Japan Auctions</a>, <a href="http://www.ebay.com">EBay</a>, or another auction site.</p>

<h2>Old Site</h2>

<p>If you are still interested in the old sites:</p>

<ul>
  <li><a href="/archive/index.html">Old Site (2003-2005)</a></li>
  <li><a href="/archive/archive/index.htm">Original Site (2001-2003)</a></li>
</ul>
