<p id="logofalcom"><a href="http://www.falcom.co.jp/"><img src="/images/logo_falcom.gif" alt="Falcom Logo" title="Falcom Logo" /></a></p>

<h1 class="sitetitle">Falcom CD Catalog - English Edition</h1>

<p>The purpose of this website is to provide English tracklist translations for all Falcom albums and redbook game soundtracks.  This website aims to be an English version of <a href="http://www.falcom.co.jp/cd/index.html">Falcom's CD Catalog</a>, although there are some differences as noted below.  It is not an official Falcom website, but it is listed at the top of the English Unofficial Home Pages on <a href="http://www.falcom.co.jp/links.html">Falcom's Links page</a>.</p>

<p>There are some differences between Falcom's CD Catalog and this one.  The album information is stored in a database which is browseable by multiple criteria. Each album is given its own page, unlike the frameset with multiple albums per page used by Falcom.  In addition, some spelling errors and track omitions in Falcom's catalog are corrected here.  This catalog also features some promotional albums and redbook game soundtracks that are not in Falcom's catalog.</p>

<p>You can purchase some recent Falcom albums at <a href="http://www.cocoebiz.com">Cocoebiz</a> or <a href="/order">directly from Nihon Falcom</a>.  Older albums may still be available at <a href="http://www.cdjapan.co.jp">CD Japan</a>, <a href="http://www.gamemusic.com">Game Music Online</a>, or another importer, but many of them are impossible to find except on <a href="http://auctions.yahoo.co.jp">Yahoo! Japan Auctions</a>, <a href="http://www.ebay.com">EBay</a>, or another auction site.</p>

<h2>Old Site</h2>

<p>If you are still interested in the old static site, you can find it archived <a href="/archive/index.html">here</a>, with the even older static site <a href="/archive/archive/index.htm">here</a>.</p>
