<% @pagetitle = 'Site Information' %>
<p>The album pages on this website each feature:</p>
<ul>
<li>Picture</li>
<li>Title</li>
<li>Catalog Number(s)</li>
<li>Initial Price(s)</li>
<li>Publisher(s)</li>
<li>Date(s) of Release (Year/Month/Day)</li>
<li>Tracklist</li>
</ul>
<p>If you have information that is about one of the above that is not on the site (e.g. a catalog number not listed), please <%= mail_to_maintainer('email me') %>.

<h1>Site Credits</h1>
<ul>
<li><a href="http://www.falcom.co.jp">Nihon Falcom</a>, for CD scans, CD info, track listing information, original layout, and publishing fine video game music.</li>
<li><a href="mailto:bberg@cesmail.net">Brandon Berg</a>, for English translations.</li>
<li><%= mail_to_maintainer('Jeremy Evans') %>, for website and database design and maintenance.</li>
<li>Stephen Tang, for website design and support.</li>
<li>Kuno Christoffel, for English translations and founding the site.</li>
<li><a href="http://kosiro.hp.infoseek.co.jp/">J.G.M.L. (Japan Game Music Library)</a>, for CD information and track listings.</li>
<li><a href="http://pcecp.com/">PC Engine Catalog Project</a>, for CD scans and information.</li>
<li><a href="http://jdk.sakura.ne.jp/cd/">Falcom 21st Century All Music Files</a>, for CD Scans, information, and track listings</li>
<li><a href="http://vgmdb.net/">VGMDB</a>, for CD scans, information, and track listings</li>
<li>And many other small contributors.  To you, we say thanks!</li>
</ul>

<h1>Message from Site Maintainer</h1>
<p>For inquiries about this website or to contribute to this website, please <%= mail_to_maintainer('email me') %>.</p>

<h3>Disclaimer</h3>
<p>This site recognizes the copyright holders of official Falcom images and materials contained within this website and does not seek to infringe on those copyrights.  If you are a copyright holder of material on this website, and you object to the usage of a copyright you hold, please <%= mail_to_maintainer('email me') %> and I will remove the material.</p>
