<% @pagetitle = 'Site News' %>

<p><b>01/08/2017</b>: Added 10 albums released in 2015 and 2016.</p>

<p><b>03/15/2015</b>: Added 6 albums released in 2013, 2014, and 2015.</p>

<p><b>11/19/2013</b>: Added 6 albums released in 2013.</p>

<p><b>02/09/2013</b>: Added 5 albums and 6 tracklists for albums released in 2011 and 2012.</p>

<p><b>02/23/2012</b>: Changed visual look of the site, putting the navigation bar on the top with dropdown menus.</p>

<p><b>12/18/2011</b>: Added 9 albums and 8 tracklists for albums released in 2010 and 2011, still need English tracklist for Ao no Kiseki Original Soundtrack.</p>

<p><b>02/06/2010</b>: Added tracklists for Ys Seven Original Sound Track Mini, Ys Seven Original Sound Track,  and Ys I &amp; II Chronicles Original Soundtrack.</p>

<p><b>02/08/2009</b>: Added tracklists for Zwei 2 Original Soundtrack and Zwei!! Original Soundtrack 2008.</p>

<p><b>07/06/2008</b>: Added tracklists for Vantage Master Portable Original Sound Track and Falcom jdk Band 2008 Spring.  Added pictures for all albums without pictures.  Added an Artists page showing all artists.</p>

<p><b>12/17/2007</b>: Added tracklists for Legend of Heroes VI Sora no Kiseki the 3rd Original Sound Track, and Ys Origin Original Sound Track and Super Arrange.</p>

<p><b>04/12/2007</b>: Added tracklist for Recollection of Ys I Complete and Falcom Live 2007 Original Sounds.</p>

<p><b>12/04/2006</b>: Added tracklist for three Legend of Heroes VI albums: SC Original Sound Track, Vocal Version, and FC &amp; SC Super Arrange Version.  Added page for Vantage Master Original Sound Track and Gensosangokushi II Original Sound Track and Super Arrange Version (please email me if you have a tracklist).  Added the new release of Xanadu Next Original Sound Track.</p>

<p><b>04/06/2006</b>: Added tracklist for Xanadu Next Original Sound Track, Ys Strategy Original Sound Track, Legend of Heroes VI Drama Album, and Legend of Heroes VI SC Single.  Changed Albums by Name to group by letter, and changed Albums by Release Date to display in reverse chronological order.</p>

<p><b>11/12/2005</b>: Added tracklist for Xanadu Music Collection.</p>

<p><b>09/27/2005</b>: Added tracklists for Ys -The Oath in Felghana- Original Sound Track, Perfect Collection, and Super Arrange Version.</p>

<p><b>09/23/2005</b>: Added tracklist for Ys VI - The Ark of Napishtim Special Sound CD.</p>

<p><b>08/08/2005</b>: A big thank you to <a href="http://www.slightlydark.com">Slightly Dark</a> for hosting the new database-backed site.  Also a big thank you to <a href="http://www.gmronline.com">Game Music Revolution</a>, for hosting the old static site for many years.  The new site adds multiple ways to view album lists (as opposed to just by series); an album photoboard; individual song, game, publisher, and series pages; links to random albums, lyrics and songs; and a song search feature.  The new site also adds many albums released in 2004 and 2005.</p>

<p><b>07/30/2005</b>: New database-backed site is now feature complete.  Still a little bit of data cleanup left to do.</p>

<p><b>07/05/2005</b>: Brandon Berg has taken time out of his schedule to re-translate the Popful Mail Paradise albums (including the Next Generation albums) after a site visitor believed the old tracklist was inaccurate.</p>

<p><b>06/10/2005</b>: Began work on moving the site from a static site into a database backed site.</p>

<p><b>05/08/2005</b>: Finished extracting information from site into a database.  Cleaned up the data by eliminating many inconsistancies in regards to track names (still more work to do in this area).</p>

<p><b>04/15/2005</b>: Began process of extracting all information from current static site into a database.</p>

<p><b>01/06/2004</b>: The FSB 2004 page is up. We're currently looking for a track listing for the Ys VI Movie Collection (either scanned or typed), information on the contents of the Ys VI Materials collection (a directory listing would be fine), and a cover scan. If you would like to help out with any of these, <a href="mailto:bberg@cesmail.net">e-mail me</a>.</p>

<p><b>01/04/2004</b>: Happy New Year! No FSB 2004 listings yet (coming Real Soon Now), but I retranslated large portions of the tracklists for the FMS albums.</p>

<p><b>09/30/2003</b>: Added tracklist for Ys Memorial Sounds (promotional item that came with Ys VI: The Ark of Napishtim).</p>

<p><b>08/04/2003</b>: Added the Moonlight Destiny and Arcturus Original Soundtracks (promotional items that come with the games).</p>

<p><b>03/02/2003</b>: Greetings once more from futureland! This time, as you can see, my disguise is complete. I've put up the lyrics for the first two JDK Band albums, Ys III JDK Special, Krelia, and all three volumes of Perfect Collection Sorcerian. Enjoy!</p>

<p><b>02/21/2003</b>: This is Brandon Berg, the translator. I added lyrics for Special Box '91 and Rie Sugimoto's Lilia. As some of you may know, many of Rie Sugimoto's songs, including two in Lilia, are not based on game music. I'll get to these eventually, but my first priority is finishing up the game-based songs. Also, I added some general information regarding my translations on the Site Information page.</p>

<p><b>02/20/2003</b>: Added a page with feedback from other people who have ordered from Falcom.  Also, lyrics for the Ys, Ys II, and Ys III Perfect Collections; Music from Ys II; and The Vocal from Ys vocal songs have been added.</p>

<p><b>02/07/2003</b>: Thanks to Brandon Berg (translations) and Stephen Tang (layout), lyric pages for Falcom vocal songs are being added to the site.  Currently, lyric pages for the vocal songs on Falcom Special Box '89 and Falcom Special Box '90 are available.  Navigate to the appropriate album page and click on the song title to see the lyrics.</p>

<p><b>02/01/2003</b>: Thanks to Brandon Berg and the Falcom 21st Century All Music Files, most of the games with redbook audio now have tracklists.</p>

<p><b>01/20/2003</b>: Thanks to Stephen, updated the entire style of the site.  The frameset has been eliminated and all albums are now arranged by series.  All pages are now XHTML 1.0 compliant.  Many minor updates to the site as well.  Addition of the Sorcerian: Apprentice of the Seven Star Magic album (the promotional soundtrack that came with the Limited Edition of the Dreamcast game).</p>

<p><b>01/08/2003</b>: Changed all of the navigational links to point directly to the album instead of the page, since some pages are quite long. Minor fixes elsewhere as well. Removed spreadsheet since it was fairly out of date. Updated the how to order page with the e-mail Falcom sends when they ship the item.</p>

<p><b>11/08/2002</b>: Added the tracklist to Zwei Super Arrange Version. Updated the pictures for the three FMS albums which will be released on December 19th.</p>

<p><b>11/04/2002</b>: Added a page explaining how to order CDs from Falcom (see the top of the contents pane).</p>

<p><b>10/20/2002</b>: Updated tracklist to Music from Dinosaur. Added the tracklists to Dinosaur Complete FM Oscillator Version and Dinosaur Ressurection Original Soundtrack. Updated the picture to Zwei Super Arrange Version.</p>

<p><b>10/18/2002</b>: Changed FMS6 to FMS - The Most Recent, since that is the phrase Falcom is using to describe albums released after FMS5. Added the three additional FMS albums which will be released on December 19th (no tracklists yet).</p>

<p><b>09/29/2002</b>: Added tracklist for FMS6. Sincere thanks to Brandon Berg for translating the tracklists yet again.</p>

<p><b>04/28/2002</b>: Updated this site's goal. Updated the tracklist to Xanadu: Dragon Slayer Legend. Deleted tracklist to 1992 Hudson CD-ROM^2 Music Complete Works, since it is not a Falcom album.</p>

<p><b>03/20/2002</b>: Added a few previously unknown promotional albums as well as other games that have redbook audio (thanks mainly to the Falcom CD ALL List). Changed the navigation pane so that the Falcom Millenial Series show up first. Added a link back to the main page by clicking the picture at the top of the navigation page. Added a link to Falcom by clicking on the main graphic (above).</p>

<p><b>03/17/2002</b>: Huge changes all over. Cleaned up the HTML in all pages so that the code itself is easier to read and update. All pictures are now served from the local server, so no more stealing Falcom's bandwidth. Added tracklists to Falcom Material Collection and The Legend of Heroes Material Collection, as well as partial tracklists to most of the PC-Engine games that didn't have one. Fixed all of the broken picture links, and fixed the alt tag for all pictures so that it shows the album's name. Minor tracklist fixes elsewhere as well.</p>

<p><b>12/02/2001</b>: Added the tracklist to All Sounds of Sorcerian, and moved some more pictures over to the local server.</p>

<p><b>11/29/2001</b>: Added FMS5 page. Added link on front page to the spreadsheet version of the English Falcom discography. Moved all FMS pictures to this site.</p>

<p><b>09/20/2001</b>: Added FMS4 page. Added tracklist for Symphony Ys 21st Century. Added many new pictures. Started the copying of all pictures to this site, so that this site does not steal Falcom's bandwith.</p>

<p><b>03/03/2001</b>: Deleted the tracklist to All Sounds of Sorcerian, because it was incorrect.</p>

<p><b>02/25/2001</b>: Added New Legend of Heroes 4 Original Sound Track Disc 1 tracklist.</p>

<p><b>02/17/2001</b>: Added some tracklists to the FMS3 page, and a few minor changes elsewhere.</p>

<p><b>02/02/2001</b>: Took over the administration of the page from Kuno Christoffel. Added J.D.K. Band page and FMS 3 page, as well as a couple small fixes to other pages.</p>
