<% @pagetitle = 'How to Order Albums from Falcom' %>

<p>Falcom now sells its music digitally on <a href="https://itunes.apple.com/us/artist/falcom-sound-team-jdk/id120174391">iTunes</a> and <a href="http://www.amazon.com/s/ref=sr_st?lo=digital-music-album&keywords=Falcom+Sound+Team+jdk&qid=1384913716&rh=n%3A163856011%2Ck%3AFalcom+Sound+Team+jdk%2Cp_n_feature_browse-bin%3A625150011&sort=-releasedate">Amazon</a>.  If you don't want a physical CD, those are your cheapest and easiest ways to legally acquire Falcom music.</p>

<p>If you want to order CDs directly from Falcom, see <a href="https://falcom.shop/help/guide#international-order">Falcom's international ordering instructions</a>.</p>
