<% @pagetitle = 'How to Order Albums from Falcom' %>

<p>Note: Falcom finally has a US distributor for some of its recent albums, <a href="http://www.cocoebiz.com">Cocoebiz</a>, so you may no longer need to go through this process if <a href="http://www.cocoebiz.com">Cocoebiz</a> carries the albums.</p>

<p><a href="http://www.ysutopia.net/falcomspecial/">Interested in mail ordering one of Falcom's Weekly Specials?</a></p>

<p><%= link_to('Interested in seeing feedback from other people who have ordered from Falcom?', '/feedback') %></p>

<p>To order from Falcom, you first need to send an e-mail to <a href="mailto:order_h19@falcom.co.jp">order_h19@falcom.co.jp</a> similar to this:</p>

<pre class="email">
Dear Nihon Falcom:

I would like to order:

ITEMNUMBER
ITEMNAME
ITEMPRICE

[Repeat the above 3 pieces of information for each item. You can get the above info from Falcom's CD page.]

TOTALPRICE

Name: NAME
Address: ADDRESS

Credit Card Type: CCTYPE
Credit Card #: CCNUMBER
Expiration Date: CCDATE

Thank you very much.

Sincerely,
NAME
DATE
</pre>

<p>The ITEMNUMBER is different from the catalog number. For the FMS series, it is in the format MXXX, i.e. M029.  Check <a href="http://www.falcom.co.jp/cd/index.html">Falcom's CD page</a> for the number of the album you want to order.  If you are looking for a discount, Falcom often has good sales on their <a href="http://www.falcom.co.jp/mailorder/special/index.html">Specials Page</a>.  You might want to check the site regularly, since the specials can change every week, and often are limited to a limited number of orders.</p>

<p>Then, you wait for a response (24-48 hours) from Falcom asking if the order is ok. The response email will be awkwardly written, because the Falcom representative does not understand English very well.  The response from Falcom will look similar to this:</p>

<pre class="email">
Thank you for an inquiry of Falcom mail order service.
The total price is as follows.

ITEMPRICE: ITEMNUMBER ITEMNAME
[Every item you ordered will be listed successively.]

SHIPPINGCOST
TOTALPRICE

If you are ok, we think we would like to accept your order.
We will be looking forward to contacting from you again.
</pre>

<p>In response to this email, you send them another e-mail to confirm the order, similar to this:</p>

<pre class="email">
The order is OK.

Thank you very much.

Sincerely,
NAME
DATE
</pre>

<p>Shortly, you should get an e-mail similar to this:</p>

<pre class="email">
Thank you for your reply.

We accepted your order.
The total price is as follows.

ITEMPRICE: ITEMNUMBER ITEMNAME
[Every item you ordered will be listed successively.]

SHIPPINGCOST
TOTALPRICE

It is your receipt number [RECEIPTNUMBER].
Please write the number of receipts, and send an E-mail if there is a question.
We will send a product on SHIPDATE.
After a product is sent, the slip number of EMS will be reported.
Be waiting, please.

Thank you.

Nihon Falcom Mailorder Service
</pre>

<p>When they ship the package, you should get an e-mail similar to this:</p>

<pre class="email">
Thank you for using falcom mail order service.
We sent product in SHIPDATE.

By EMS (International Express Mail)
EMS item number : EMSITEMNUMBER

The total price is as follows.

ITEMPRICE: ITEMNUMBER ITEMNAME
[Every item you ordered will be listed successively.]

SHIPPINGCOST
TOTALPRICE

We'll be looking forward to ordering from you again.

Thank you
</pre>

<p>Remember that the person who is reading this doesn't speak English well (obviously), so don't use complex grammar or vocabulary.  K.I.S.S.  If you have any questions about this process, feel free to <%= mail_to_maintainer('email me') %>.</p>
