a, a:link, a:visited { 
	text-decoration: none; 
	color: #F00;
}
a:hover { text-decoration: underline; }
a#banner {
	text-align: center;
	font-size: 18px;
	font-weight: bolder;
	font-variant: small-caps;
	margin: 5px;
	padding: 2px;
	border-width: 2px;
	border-color: #F00;
	border-style: solid;
	font-family: serif;
	color: #FFF;
	background-color: #333;
	text-decoration: none;
}

body { 
	font-family: arial, helvetica, sans-serif, verdana;
	background-color: #f4f4f4;
	font-size: 12px;
}

div { 
	border-width: 0;
	margin: 0;
	padding: 0;
}
div#content {
	margin: 10px 10px 0 220px;
	padding: 0 25px 0 5px;
	width: auto;
}
div#nav {
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0; 		
	width: 210px;
}
div#nav a {	display: block; }
div#photoboard { text-align: center; }

h1 { font-size: 20px; }
h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }

img { border-width: 0px; }

p {	padding: .5em 5px; }
p#logofalcom { text-align: center; }

table {	border-width: 0; }
table thead, table tbody, table tr, table th, table td { 
	border-width: inherit; 
	border-style: inherit;
	padding: inherit;
}
table.lyric td { 
	padding: 10px 50px 10px 0px; 
	vertical-align: top;
}
table.tracklist {
	border-width: 1px;
	border-style: solid;
	padding: 2px;
	border-collapse: collapse; 
}
table.album td { vertical-align: top; }

td#albuminfo { padding-left: 50px; }
td#tracklist h3 { margin-left: 5px;}
td#tracklist h4 { margin-left: 15px;}

.email { 
	background-color: #ddd;
	padding: 0px 5px; 
}
.sitetitle { 
	text-align: center; 
	font-size: 24px;
}

ul.scaffold_associated_records_list li form { display: inline; }