a, a:link, a:visited { 
	text-decoration: none; 
	color: #F00;
}
a:hover { text-decoration: underline; }

body { 
	background-color: #f4f4f4;
}

div#photoboard { text-align: center; }

img { border-width: 0px; }

p#logofalcom { text-align: center; }

table.lyric td { 
	padding: 10px 50px 10px 0px; 
	vertical-align: top;
}
table.tracklist {
	border-width: 1px;
	border-style: solid;
	padding: 2px;
	border-collapse: collapse; 
  margin-top: 5px;
}
table.album td { vertical-align: top; }

td#albuminfo { padding-left: 50px; }
td#tracklist h3 { margin-left: 5px;}
td#tracklist h4 { margin-left: 15px;}

.email { 
	background-color: #ddd;
	padding: 0px 5px; 
}

textarea, input {
  width: auto;
}

ul.scaffold_associated_records_list li form { display: inline; }
label { display: inline-block; margin-right: 5px; min-width: 120px; }
input, textarea, select { width: auto; }
.inline_mtm_add_associations form,
.inline_mtm_add_associations div,
.inline_mtm_remove_associations form,
.inline_mtm_remove_associations div,
.inline_mtm_remove_associations input.btn {display: inline; margin: 5px;}
