a {
  &, &:link, &:visited { 
	 text-decoration: none; 
	 color: #F00;
  }
  &:hover { text-decoration: underline; }
}

body { background-color: #f4f4f4; }

div#photoboard { text-align: center; }

img { border-width: 0px; }

p#logofalcom { text-align: center; }

.lyric-verse { 
  margin-top: 20px;
  div { padding-top: 10px; }
}
.lyric-romaji {
  font-style: italic;
}

.email { 
	background-color: #ddd;
	padding: 0px 5px; 
}

ul.scaffold_associated_records_list li form { display: inline; }
label {
  display: inline-block;
  margin-right: 5px;
  min-width: 120px;
}

input, textarea, select { width: auto; }

.inline_mtm_add_associations, .inline_mtm_remove_associations {
  form div input.btn {display: inline; margin: 5px;}
}

.navbar-default {
  color: white;
  &, .dropdown-menu, .dropdown-menu li a:hover {
    background-color: #2c2c2c;
  }
  .navbar-brand, .navbar-nav > li > a, .navbar-nav .open .dropdown-menu > li > a {
    &, &:hover, &:visited { color: white; }
    &:hover { text-decoration: underline; }
  }
}
